* {
    padding: 0px;
    margin: 0px;
}

header, section, nav, aside, footer {
    display: block;
}

body {
    /* background-image: url(../images/G0112526.JPG); */
}

#wrapper {
    margin: 0px auto;
    width: 1004px;
}

header {
    background-color: #282828;
    width: 1004px;
    height: 180px;
    color: White;
}

nav {
    background-color: #d56325;
    width: 1004px;
    height: 150px;
}

section {
    background-color: #6c6a66;
    width: 754px;
    float: left;
    height: 200px;
}

aside {
    background-color: #bfc5b5;
    width: 250px;
    height: 200px;
    float: left;
}

footer {
    background-color: #aa4f1e;
}

.clear {
    clear: both;
}

.flex-container{
  display: flex;
  background-color: red;
  width: 100%;

}

.flex-container div{
    text-align: center;
    background-color: bisque;
    margin: 20px;
    padding: 20px;
    font-size:30px;
    width:25%;
    float:left;
}