*{
    margin: 0px;
    padding: 0px;
}

body{ font-family: Arial; }

main, nav, article, aside, section, header,
footer { display:block; }

header {
 position: relative;
 width:100%;
 height:123px;
 background-color: #F2E9E9;
 padding-top: 1px;              
}

a{
    text-decoration: none;
}

footer {
 width:100%;
 height:41px;
 background-color: #000000;
}

#layout1 main{
 width: 881px;
 height:860px;
 margin: 0 auto;
 background-color: #333333;
}

#layout1 .text{
    float:left;
    width: 50%;
    height: 120px;
    background-color: blue;
}

#layout1 .boxes{
    position: relative;
    top:0px;
    left:0px;
    float:left;
    width: 50%;
    height: 500px;
    background-color: red;
}

#layout1 .box1{
    top:44px;
    left:0px;
    width:75px;
    height: 23px;
}

/* #layout1 .box2{
    top:44px;
    left:0px;
    width:75px;
    height: 23px;
}

#layout1 .box3{
    top:44px;
    left:0px;
    width:75px;
    height: 23px;
} */

.clear {
    clear:both;
}

nav{
    width: 300px;
    height: 33px;
    margin: 50px auto;
    background-color: #000000;
}

.boxes div{
    position: absolute;
    background-color: #EBEF18;
}

article {
    background-color: black;
    width:126px;
    height: 94px;
    margin-top:15px;
    margin-left: 15px;
    float:left;
}


ul{
    display: block;
    position: relative;
    width: 350px;
    margin: 52px auto;
    list-style-type: none;
}

ul li {
    position: relative;
    font-family: "Ariel";
    font-style: oblique;
    font-size: 24px;
    float: left;
    width: 33.33%;
    margin: 0px auto;
    
}

ul li:hover{
    text-decoration: underline;
}

 .selected .dot{
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    margin: -12px 20px;
}

.MIX {
   width: 25%; 
}

/* lec_4_46 */
#brand{
    position: relative;
    width: 450px;
    height: 150px;
    background: red;
}

#brand p{
    position: absolute;
    right: 0px;
    top: 15px;
    text-align: center;
    background: yellow;
}
/* /lec_4_46 */

   