*{
    margin:0px;
    padding: 0px;
}

header,main,footer,section,nav,aside,article {
    display:block;
}

a{
    text-decoration: none;
} 

.Icons img{
    width: 40px;
    height: 40px;
}


.Icons li span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 18px;
    position: absolute;
}

.Icons li{
    padding-top: 30px;
    list-style: none;
}
.imgPadding img{
    padding-right: 30px;
}


.links{
    padding-bottom: 40px;
}

.links a{
    font-style: normal;
    font-size: 20px;
    font-family: Arial;
    text-decoration: none;
    padding-right: 25px;
    letter-spacing: 4px;
    color: #222222;
    opacity: 0.3;
    
}

.links a:hover{
    color: #1434E1;
    opacity: 1;
}

body header{
    padding-top:40px;
    padding-bottom: 40px;
    background-image: url(../images/icon3.png);
    width:100%;
    height:auto;
    background-repeat: no-repeat;
}

body{
    background-color: #f2f2f2;
}

#wrapper{
    padding-left: 125px;
    padding-top: 75px;  
    width: auto;
    margin: auto;
}


body header a{
    font-family: Arial;
    font-size: 50px;
    padding-left:125px; 
    color: #000000; 
}

main section h1{
    font-size: 40px;
    padding-top: 40px;
}

main section p{
    font-size: 18px;
    padding-top: 8px;
}

main section h2{
    font-size: 40px;
    padding-top: 60px;
}

#BackImg{
    padding-bottom: 135px;
    width: 570px;
    height: 417px;
}


#FrontImg{
    position: relative;
    right: 255px;
}


#LenguagesGap{
    padding-bottom: 89px;
}


footer{
    background: #515151;
    padding-top:69.5px;
    padding-left: 125px;
    
}

main{
    padding-bottom: 58px;
}

.Boundary{
   position: relative;
    height:1px;
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    
}

#Git{
  
}

#Git a{  
    padding: 12px;
    float:left;
    background: #C6B393;  
}

#Git span{
    padding: 15px;
}


#FiveLinks{
  padding-bottom: 53px; 
}

#FiveLinks a{
    padding-left: 59px;
}

#FiveLinks span{
    padding-left: 10px;
    padding-top: 12px;
    position: absolute;
}

#FiveLinks a{
    padding-right: 80px;
}


#OtherLinks{
  padding-top: 42px; 
  padding-bottom: 43px; 
}

#OtherLinks a{
    padding-right: 19px;  
  }

#OtherLinks img{
    height: 25px;
    width: 25px;  
  }

footer span{
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

